<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:jms="http://www.springframework.org/schema/jms"
		xmlns:p="http://www.springframework.org/schema/p" 
		xmlns:aop="http://www.springframework.org/schema/aop" 
		xmlns:context="http://www.springframework.org/schema/context" 
		xmlns:jee="http://www.springframework.org/schema/jee" 
		xmlns:tx="http://www.springframework.org/schema/tx" 
		xmlns:task="http://www.springframework.org/schema/task" 
		xsi:schemaLocation="http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd 
		http://www.springframework.org/schema/jee 
		http://www.springframework.org/schema/jee/spring-jee-3.2.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd 
		http://www.springframework.org/schema/task 
		http://www.springframework.org/schema/task/spring-task-3.2.xsd">
		
		<context:component-scan base-package="com.raghunadimpalli"></context:component-scan>
		
		<bean id="personSolrPropertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="location" value="classpath:personSolr.properties"></property>
			<property name="ignoreUnresolvablePlaceholders" value="true"></property>
			<property name="placeholderPrefix" value="$personSolrInst{"></property>
			<property name="placeholderSuffix" value="}"></property>
		</bean>
		
		<bean id="solrServerInitializer" class="com.raghunadimpalli.core.solr.SolrServerInitializer">
			<constructor-arg>
				<value>$personSolrInst{solrPersonUrl}</value>
			</constructor-arg>
		</bean>
		
<!-- 		<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> -->
<!-- 			<property name="driverClassName" value="$personSolrInst{jdbc.driver}"></property> -->
<!-- 			<property name="url" value="$personSolrInst{jdbc.url}"></property> -->
<!-- 			<property name="username" value="$personSolrInst{jdbc.username}"></property> -->
<!-- 			<property name="password" value=" $personSolrInst{jdbc.password}"></property> -->
<!-- 		</bean> -->
		
		<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	 		<property name="driverClassName" value="net.sourceforge.jtds.jdbc.Driver" />
			<property name="url" value="jdbc:jtds:sqlserver://localhost:1433/AdventureWorks2008" />
			<property name="username" value="raghu" />
			<property name="password" value="nadimpra" />
		</bean>
		
		<bean id="personSolr" class="com.raghunadimpalli.core.solr.impl.PersonSolrImpl">
			<property name="dataSource" ref="dataSource"></property>
			<property name="solrServerInitializer" ref="solrServerInitializer"></property>
		</bean>
</beans>